# Django specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environment variables
.env

# Django static and media files
/static/
/media/

# SQLite database file
*.sqlite3

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code settings
.vscode/

# JetBrains IDE settings
.idea/

# macOS specific files
.DS_Store

# Linux specific files
*.swp
